body{
    background-image: url("./Netflix.jpg");
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    background-size: cover;

}


.login{
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    width: 550px;
    height: 560px;
   background-color: #000000BF;
  
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin: auto;
    position: center;   
    max-width: 500px;
}

.caixa{
   
    opacity: 0.5;

}

.ajustar{
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    display: inline;
    margin-left: -100px;
    margin-top:-180px;
}

img{
    width: 250px;
height:150px;
margin-left: 2px;

}


